body::before 
{   height: 100%;
    width: 100%;
    background-position: center;
    font-family: 'Comic Sans MS', 'Comic Sans';
}

body 
{   background-color: rgb(255, 14, 14);
}

.text_handler 
{   color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Comic Sans MS', 'Comic Sans';
}

#info_text {
    text-align: center;  
}

.button_handler
{
    height: calc(20vh - 2px);
    display: flex;
    justify-content: right;
    align-items: center;
    top: 0;
    right: 0;
}

#Randomize_button
{
    background-color: rgb(0, 0, 0);
    font-family: 'Comic Sans MS', 'Comic Sans';
    font-size: 33px;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    margin: auto;
    width: 300px;
    height: 80px;

}